<table class="table table-responsive">
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Ativo</th>
            <th>Telefone</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>José da Silva</td>
            <td>Ativo</td>
            <td>11 9875542314</td>
            <td>josesilva@gmail.com</td>
        </tr>
        <tr>
            <td>Bianca da Silva</td>
            <td>Não Ativo</td>
            <td>16 997845622</td>
            <td>biancasilva@gmail.com</td>
        </tr>
        <tr>
            <td>Antônio da Costa</td>
            <td>Não Ativo</td>
            <td>11 996322410</td>
            <td>antoniodacosta@gmail.com</td>
        </tr>
        <tr>
            <td>Fernanda Gabrielly</td>
            <td>Ativo</td>
            <td>11 981739936</td>
            <td>fernandagabrielly@gmail.com</td>
        </tr>
        <tr>
            <td>Helen Mendes</td>
            <td>Ativo</td>
            <td>11 997231544</td>
            <td>helenmendes@gmail.com</td>
        </tr>
    </tbody>
</table>